Source: pacman
Maintainer: Jelle van der Waa <jelle@archlinux.org>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper-compat (=11),
               gettext,
               libarchive-dev,
               libcurl4-openssl-dev,
               libgpgme-dev,
               asciidoc,
               pkgconf,
               libssl-dev,
               python,
               libxdelta2-dev,

Package: pacman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libarchive13, curl, libgpgme11
Description: The pacman package manager.
